@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background-image: url("https://i.ibb.co/Qr4vcK1/genshin-impact-ganyu-genshin-impact-hd-wallpaper-preview.jpg");
   
  }
 .dark {
    --background-image: url("https://i.ibb.co/Qr4vcK1/genshin-impact-ganyu-genshin-impact-hd-wallpaper-preview.jpg");
 }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    background-image: var(--background-image, linear-gradient(to bottom, var(--background) 0%, var(--background) 100%));
  }
}
